.topic-text {
    vertical-align: top;
    font-weight: bold;
    width: 28%;
}
.detail-text {
    vertical-align: top;
    text-align: left;
}

ol.sign-radio{
    margin-bottom: 0;
    list-style-type: disc;
}

.subdetail-width {
    width:30%;
}

.subtable {
    border-spacing: 0;
    width: 100%;
}

td. {
    margin-bottom: 20px!important;
}
