@import "mfont.css";

.footer-center {
  background: #f5f5f5!important;
  text-align: center;
  padding: 0;
}

.footer-center .mg-right {
  margin-right: 10px; }

.footer-center li, .footer-center a {
  color: #ac9766;
  font-size: 18px;
  font-family: 'Lato','Kanit';
  display: inline;
  margin: 0; }

.footer-center ul {
  margin-bottom: 0; }


@media only screen and (max-width: 480px) {
  .footer-center li, .footer-center a {
    font-size: 14px !important; } }

@media only screen and (max-width: 320px) {
  .footer-center li, .footer-center a {
    font-size: 13px !important; } }
