.wrapper-inner {
  filter: none!important;
}


.mg-pic {
  margin-top: 80px !important; }

.bg-pic {
  background-color: #232323 !important;

}

.grid-container.full-width.no-margins {
  padding-top: 110px!important;
  padding-bottom: 0!important;
}

@media only screen and (max-width: 960px) {
  .mg-pic {
    margin-top: 0px !important; } }

@media only screen and (max-width: 350px) {
  clear-pd-mobile {
    margin-left: 0;
    margin-right: 0; } }
