.header-sticky .header-inner {
  background: #e6e6e6 url(../front/bg_nav2.png) no-repeat right !important; }

.header-transparent .header-inner {
  background: rgba(0, 0, 0, 0.6) url(../front/bg_nav.png) no-repeat right; }

.header-bottom.header-transparent .header-inner > .nav-bar {
  border: none !important; }

.header-transparent .navigation > ul > li > a, .header-transparent .navigation > ul > li > a:hover {
  color: #ab9767;
  font-weight: bold;
  opacity: 1; }

.header-transparent .navigation > ul > li.current > a, .header-transparent .navigation > ul > li.current > a:hover {
  color: #ab9767; }

.language-key a {
  color: #ab9767 !important; }

@media only screen and (max-width: 1024px) {
  .language-key {
    margin-top: 27px; }
}
/*@media only screen and (max-width: 960px) {*/
  /*.language-key {*/
    /*margin-top: 27px; }*/
/*}*/


@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .clear-row-mg {
    max-width: 98%;
  }
}