h1, h2, h3, h4, h5, h6, td, input, button, p, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
    font-family: 'Lato','Kanit'!important;
}


.wrapper-inner {
    filter: none!important;
}

.news-title2 {
    color: #ab9767;
    font-size: 26px;
    line-height: 1.5;
}

.news-head {
    padding: 0;
}
.news-head img {
    width: 100%;
}

.post-content img {
  margin-bottom: 30px; }

.post-content p {
  margin-bottom: 30px !important;
    font-size: 15px;
}

.widget h3 {
    font-size: 18px!important;
}

.widget a {
    font-size: 13px!important;
}

.content-inner h3 {
  margin-bottom: 50px; }
