
h1, h2, h3, h4, h5, h6, input, button, label, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}


nav.link-hilight ul li a {
  font-size: 14px!important;
  font-weight: 500!important;
}
.wrapper-inner {
  filter: none!important;
}

.radio-label ~ .radio-label {
  margin-left: 0; }

.checkbox + .checkbox-label::before, .radio + .radio-label::before {
  border: 1px solid #c5c5c5; }

.form-element, textarea {
  background-color: #f4f4f4;
  border: 1px solid #c5c5c5; }

.replicable-content hr {
  border: 2px solid #ab9767;
  margin: auto auto 30px;
  width: 100%; }

.contact-form label {
  margin-right: 10px;
  color: #646464;
  font-weight: 400;
  letter-spacing: 0; }

.checkbox+.checkbox-label:before {
  /*margin-top: 5px;*/
  border-radius: 3px;
  vertical-align: 0;
}

div.field-wrapper label {
  font-size: 14px;
  margin-right: 15px;
}

div.field-wrapper input {
  font-size: 14px;
}

h2 {
  color: #725103;
  font-weight: 500;
  font-size: 40px;
}

h6 {

  color: #666;
  font-size: 15px;
}

h4 {

  font-size: 20px;
  color: #ab9767; }

.mg-top {
  padding-top: 190px; }

@media only screen and (max-width: 960px) {
  .mg-top {
    padding-top: 80px; } }

.button-text {
  background: #ab9767 url(../front/bg_nav.png);
  background-size: cover;
  border-color: #ab9767;
  border-radius: 0px;
  color: white;
  font-size: 1.6rem;
  padding: 8px 30px; }

.button-text-hover:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: white; }


.gg-capcha {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px; }

