@font-face {
    font-family: 'rsulight';
    src:url('../css/rsulight.ttf') ;
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'db_adam';
    src:url('../fonts/DB_Adman.ttf') ;
    font-weight: normal;
    font-style: normal;

}
.header-sticky .header-inner{
    background: rgba(230, 230, 230, 1) url(../images/bg_nav2.png) no-repeat right !important;
}
.header-transparent .header-inner {
   
    
     background: rgba(0, 0, 0, 0.6) url(../images/bg_nav.png) no-repeat right;
  
}
.header-bottom.header-transparent .header-inner > .nav-bar{
    border:none !important;
   
}
.header-transparent .navigation > ul > li > a, .header-transparent .navigation > ul > li > a:hover{
    color: #ab9767;
    font-weight: bold;
    opacity: 1;
   
}
.header-transparent .navigation > ul > li.current > a, .header-transparent .navigation > ul > li.current > a:hover{
    color: #ab9767;
}
.bgcab{
    width:391px ;
    height: 453px;
    background: url(../images/bg_cap.png) no-repeat;
    right: 60px;
    top: 30px;
    color: #ab9767 ;
    font-size: 26px;
     font-family: 'db_adam' !important;
    
}
.bgcab2{
    width:100%;
    height: 453px;
    background: url(../images/bg_cap.png) no-repeat;
    background-size: cover;
   
    color: #ab9767 ;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
     font-family: 'db_adam' !important;
    
}
.ft-db-adama{
    font-family: 'db_adam';
}
.project-menu{
     background: rgba(25, 0, 121, 0.6) url(../images/line.png) no-repeat top;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: #ab9767;
     font-family: 'db_adam';
    font-size: 20px;
   
}
.project-menu > ul > li {
    display: inline-block;
}
.project-menu > ul > li > a{
    color: #ab9767;
    font-weight: bold;
    padding: 10px 20px;
    font-family: sans-serif;
    
}
.project-menu > ul > li > a:hover{
    border-bottom: 2px solid #ab9767;
    border-top: 2px solid #ab9767;
 
    
}
.overlay-info{
    background: rgba(36,7,114,0.7) url(../images/cover.png) no-repeat center !important;
    color: #fff;
}
.project-title{
     color: #fff;
}
.project-description{
     color: #fff;
}
.table td, .table th+th{
    border: none;
    
}
.plan{
    background: #e6e6e6 url(../images/newsbg.png) no-repeat bottom left !important;
}
.bkg-charcoal {
    background: #232323 url(../images/newsbg.png) no-repeat bottom left !important;
    border-color: #232323;
}
hr{
    width: 200px;
    margin: 0 auto;
}
.form-element, textarea{
    margin-bottom: 10px;
}
.shop .table tr{
        display: table-row !important;
}
.shop .table td, .shop .table th {
    padding: 0.1rem 1.6rem;
        display: table-cell !important;
}
.bkg-hover-theme:hover{
    background-color: #25086F;
    border-color: #25086F;
}
.team-content-info{
   
    height: 280px;
    overflow: hidden;
}
.devloper .media-column{
    
    background-image: url(../images/devloper.jpg) ;
    background-position: center;
    
}