h1, h2, h3, h4, h5, h6, td, tr, input, button, p, ul, li, a, .button, select, textarea, .project-title, .product-title, .project-description, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .grid-filter-menu a, .counter {
  font-family: 'Lato','Kanit'!important;
}
.wrapper-inner {
  filter: none!important;
}



.plan {
  /*background: #e6e6e6 url(../front/newsbg.png) no-repeat bottom left !important; }*/
  background: #fff url(../front/newsbg.png) no-repeat bottom left !important; }

.list-room {
  border: none;
  width: 100% }

.list-room tr {
  font-size: 18px;
  color: #ab9767;
  text-align: center !important;
  cursor: pointer; }

.project-slide2 {
  padding: 40px; }
  .project-slide2 h2 {
    color: #725103;
    font-weight: bold; }
  .project-slide2 hr {
    width: 200px;
    border: 2px solid #ab9767;
    margin: auto;
    margin-bottom: 30px; }

.text-active {
  color: #725103 !important;
  font-size: 18px;
  font-weight: bold; }


.room-topic {
  font-weight: bold!important;
  padding-right: 25px!important;
}

.room-number {
  padding-right: 10px!important;
}

.room-left {
  text-align: left;
}