#sortable {
    list-style-type: none;
    padding-left: 0;
}
#sortable li {
    line-height: 20px;
    margin: 3px 0;
    padding: 2px 0;
}
#sortable li .submenu{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent -moz-linear-gradient(center top, #ffffff 0%, #f6f6f6 47%, #ededed 100%) repeat scroll 0 0;
    border-color: #d4d4d4 #d4d4d4 #bcbcbc;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    height: 135px;
}

#sortable li .submenu div{
    height: 120px;
    line-height: 120px;
}
.ui-state-highlight {
    height: 135px;
    background-color: #EEEEEE;
    border-radius: 3px;
    border-style: dotted;
    border-width: 1px;
}

#sortable li .submenu .btn {
    margin-left: 5px;
    margin-top: 40px;
}

#sortable li .submenu span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}